[class^="icon-"]:before 
[class^="icon-"]:after
  font-family hispanicomm
  font-style normal
  font-weight normal
  speak none

  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  font-style normal
  /* opacity .8 */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant normal
  text-transform none

  /* fix buttons height, for twitter bootstrap */
  line-height 1em

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left .2em

  /* you can be more comfortable with increased icons size */
  // font-size: 120%

  /* Uncomment for 3D effect */
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)

.icon-spin1:before
  content: '\e80b'

.icon-globe:before
  content: '\e80a'

.icon-menu:before
  content: '\e80e'

.icon-arrow-left:before
  content: '\2039'

.icon-arrow-right:before
  content: '\203a'
  width 12px
  margin-right .0em

.icon-arrow-up:before
  content: '\2c6'

.icon-arrow-down:after
  content: '\02C7'
  // font-size 10px
  // line-height 10px
  // vertical-align top

.icon-facebook:before
  content: '\e801'

.icon-gplus:before
  content: '\e800'

.icon-spin2:before
  content: '\e80c'

.icon-pinterest:before
  content: '\e803'

.icon-twitter:before
  content: '\e804'

.icon-youtube:before
  content: '\e805'

.icon-vcard:before
  content: '\e806'

.icon-location:before
  content: '\e807'

.icon-phone:before
  content: '\e808'

.icon-search:after
  content: '\e809'
  color #bdbdbd 
  content '\e809'
  font-family hispanicomm
  position relative
  bottom 30px
  left 180px

.icon-instagramm:before
  content: '\e802'

