.nivoSlider
  position: relative
  width: 100%
  height: auto
  overflow: hidden

.nivoSlider img
  position: absolute
  top: 0px
  left: 0px
  max-width: none

.nivo-main-image
  display: block !important
  position: relative !important
  width: 100% !important

.nivoSlider a.nivo-imageLink
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  border: 0
  padding: 0
  margin: 0
  z-index: 6
  display: none
  background: white
  // filter: alpha(opacity=0)
  opacity: 0

.nivo-slice
  display: block
  position: absolute
  z-index: 0
  height: 100%
  top: 0

.nivo-box
  display: block
  position: absolute
  z-index: 5
  overflow: hidden

.nivo-box img
  display: block

.nivo-caption
  -moz-box-sizing: border-box
  -moz-opacity: 0.8
  -webkit-box-sizing: border-box
  // filter: alpha(opacity=8)
  background: #000
  bottom: 0px
  box-sizing: border-box
  color: #fff
  display: none
  left: 0px
  opacity: 0.8
  overflow: hidden
  padding: 5px 10px
  position: absolute
  width: 100%
  z-index: 8

.nivo-caption p
  padding: 5px
  margin: 0

.nivo-caption a
  display: inline !important

.nivo-html-caption
  display: none

.nivo-directionNav a
  background-color rgba(255, 255, 255, 0.4)
  color #f47932
  cursor pointer
  font-family hispanicomm
  font-size 25px
  height 25px
  padding: 12.5px;
  position: absolute
  top: 45%
  width 75px
  z-index: 9

.nivo-prevNav
  left: 0px
  text-align right

.nivo-nextNav
  right: 0px

.rslides_tabs
  text-align: center
  padding: 0

.rslides_tabs a
  cursor: pointer

.rslides_tabs a.active
  font-weight: bold

.rslides_tabs img
  max-width 25px
  max-height 25px
